body {
	height: 100vh;

}

.splash-bg {
    background-color: cornflowerblue;
    color: white;
}

.holder {
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 justify-content: center;
 align-items: center;

}

#splashscreen {
 padding-top: 20vh;
}

.payment-made {
    color: #b71c1c;
}

.payment-received {
    color: #00c853;
}

#beneficiary_button{
	padding-top: 40px;
display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 justify-content: center;
 align-items: center;
}
